<button type="button" class="btn btn-outline-dark mt-5" onclick="location.reload()">Rafraichir la liste</button>
<button type="button" class="btn btn-outline-dark mt-5" routerLink="/collegues/nouveau">Ajouter un collegue</button>

<app-votre-dernier-avis></app-votre-dernier-avis>

<div class="form-group mt-5">
  Filtrer par pseudo
</div>
<div class="form-group mx-sm-3 mb-2">
  <input [(ngModel)]="searchText" type="text">
</div>

<div class="card-deck">
  <section class="col-4" *ngFor="let col of collegues | filter : searchText">
    <div class="mt-5">
      <app-collegue [collegue]="col"></app-collegue>
    </div>
  </section>
</div>